<nav class="navbar navbar-expand-lg navbar-light bg-white navigation" id="navbar">
  <div class="container">
    <a class="navbar-brand">
      <img src="../../../assets/images/logo.jpg" height="auto" routerLink="/acceuil">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="top-menu list-inline mb-0 d-none d-lg-block" id="top-menu">
        <li class="list-inline-item">
          
        </li>
      </ul>

      <ul class="navbar-nav mx-auto">
      
        <!-- Pages -->
        <li class="nav-item dropdown dropdown-slide ">
          

          <a
            class="nav-link dropdown-toggle"
            routerLink="/acceuil"
            id="navbarDropdown4"
            role="button"
            data-delay="350"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
          Accueil
          </a>  

        <li class="nav-item dropdown dropdown-slide ">
          <a *ngIf="authService.isloggedIn"
            class="nav-link dropdown-toggle"
            routerLink="/docs"
            id="navbarDropdown4"
            role="button"
            data-delay="350"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
          Mes documents
          </a>

        </li>
        <li class="nav-item dropdown dropdown-slide ">
          <a
            class="nav-link dropdown-toggle"
            routerLink="/contact"
            id="navbarDropdown4"
            role="button"
            data-delay="350"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
          Support   </a>
          
        </li>
        <li class="nav-item dropdown dropdown-slide ">
          <a *ngIf="!authService.isloggedIn"
            class="nav-link dropdown-toggle"
            routerLink="/about"
            id="navbarDropdown4"
            role="button"
            data-delay="350"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
          À propos
          </a>

      </ul>

      <ul class="navbar-nav m-auto">
        
        <li class="nav-item dropdown dropdown-slide">
          <a *ngIf="authService.isloggedIn"
          class="nav-link dropdown-toggle"
          id="navbarDropdown3"
          role="button"
          data-delay="350"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        
        > <div class="user-info">
          <img class="user-image" [src]="userImage" >
          <div class="user-details">
            <p class="username">{{username}}</p>
          </div>
        </div>
        
</a>        


      
          <ul
            class="dropdown-menu"
            aria-labelledby="navbarDropdown5">
            
            <li>
              <a  class="nav-link" routerLink="/profile" >mon profile </a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" routerLink="/docs">Mes documents </a>
            </li>
            
            
            <li>
              <a
                class="nav-link"
                href="/login"
                (click)="onLogout()"
                type="submit"
                
              >
                Se déconnecter
              </a>
            </li>
          </ul>
        </li>
      
        <div class="action">
          <button type="submit" class="btn btn-submit"  *ngIf="!authService.isloggedIn" routerLink="/login">Connexion</button> 
         </div>
         <div class="action">
          <button type="submit" class="btn btn-signup"  *ngIf="!authService.isloggedIn" routerLink="/signup">S'inscrire</button> 
         </div>

         
      </ul>
    </div>
  </div>
</nav>
