/* navbar */
.navbar {
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-top: -17px;
  }
  
  /* brand logo */
  .navbar-brand img {
    max-height: 47px;
  }
  
  /* toggler icon */
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler:hover {
    outline: none;
  }
  
  .navbar-toggler-icon {
    background-color: #333;
    width: 20px;
    height: 2px;
  }
  
  /* menu items */
  .navbar-nav {
    margin-left: auto;
    margin-right: auto;
  }
  
  .nav-link {
    color: #494949;
    font-weight: 700;
    padding: 10px 20px;
  }
  
  
  
  /* dropdown */
  .dropdown-menu {
    padding: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-item {
    padding: 10px 20px;
    color: #333;
  }
  
  .dropdown-item:hover,
  .dropdown-item:focus {
    color: #000000;
    background-color: #f2f2f2;
  }
  
  
  
  
  .dropdown-divider {
    margin: 0;
  }
  
  /* user icon */
  .navbar-nav .fa-user {
    margin-right: 5px;
  }
  
  
  
  /* action button */
  
  .action .btn {
    border-radius: 5px;
    padding: 3px 15px;
    border: 1px solid rgb(190, 190, 190);
    color: #4b4b4b;
    background-color: transparent;
    font-size: 17px;
    margin-right: 6px;
    margin-top: auto;
    margin-bottom: auto;
  
  }
  
  .action .btn:hover {
    border-color: rgb(0, 0, 0);
    color: #000000;
  }
  
  
  
  .action .btn-signup {
    border-radius: 5px;
    padding: 3.7px 14.8px;
    color: #ffffff;
    background-color: #fb5c42;
    font-size: 16.8px;
    border: none;
    margin-top: auto;
    margin-top: auto;
  }
  
  .action .btn-signup:hover {
    background-color: #ff472b;
    color: #ffffff;
  }
  
  
  .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #fb5c42;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #fb5c42;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
    
  
    .user-info {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
    }
    
    .user-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      margin-right: 10px;
  
    }
    
    .user-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .username {
      margin: 0;
      color: #000000;
      font-size:14.5px;
    }
    
    .username:hover {
      margin: 0;
      color: #fb5c42;
    }
    
  
    .nav-link {
      position: relative;
      transition: transform 0.3s ease;
    }
    
    .nav-link:hover {
      transform: translateY(-5px);
    }