<footer class="footer">
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left mr-auto"
      >
        <div class="footer-widget">
          <h4 class="mb-4" style="font-weight:bold; color:#3b3b3b;">DocuWise</h4>
          <p class="lead">
            Un service de gestion electronique des fichiers dans le cloud lancé
            par la société Capgemini Engineering Tunisie.
          </p>
        </div>
        <div class="">
          <p class="copyright mb-0">
            @ Copyright Reserved.
            <a routerLink="/about"> Politique de confidentialité</a>
          </p>
        </div>

      </div>

      <div
        class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left"
      >
        <div class="footer-widget">
          <h4 class="mb-4">Types des documents</h4>
          <ul class="pl-0 list-unstyled mb-0">
            <li>
              <a 
                >GIF, PDF, ZIP, TXT,<br />
                MP3, DOC, JPG, CSV, XLS, AVI</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div
        class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left"
      >
        <div class="footer-widget">
          <h4 class="mb-4">Lien utile</h4>
          <ul class="pl-0 list-unstyled mb-0">
            <li><a  routerLink="/about">About Us</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/login">Se connecter</a></li>
          </ul>
        </div>
      </div>

      
    </div>
  </div>
</footer>

