
.search-form {
  display: flex;
  align-items: center;
  border: 5px;
}

.search-form input[type="text"] {
  width: 80%;
  max-width: 580px;
  height: 40px;
  font-size: 16px;
  padding: 7px;
  margin-right: 0px;
  margin-left: 20px;
  border: 1px;
  border-color: black;
  background-color:#f7f6f2;
  
}

.search-form button[type="submit"] {
  background-color: #fc6c55;
  color: white;
  height: 40px;
  font-size: 16px;
  padding: 0 20px;
  cursor: pointer;
  border: 1px;


}

.search-form button:hover {
  background: rgb(75, 73, 73);

}


.search-form input:active{
  border-color:  #fb5c42;
}
.card {
  box-shadow: 0 4px 6px 0 rgba(22, 22, 22, 0.2);
  max-width: 430px;
  height: auto;
  margin: 10px;
  text-align: center;
  font-family: arial;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}

.card:hover {
  background-color: #f8f7f7;
}

.card img {
  border-radius: 50%;
  max-width: 40%;
  height: 40% auto;
  margin: 0 auto;
  margin-top: 15px;
  display: block;
  object-fit: scale-down;
}

.card h4 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #444444;
}

.card p {
  margin-top: 10px;
}

.card .role-icon {
  font-size: 20px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
}