#content {
  padding: 10px;
}

.table-data {
  margin-top: 20px;
  border: 1px solid #ddd;
  overflow: hidden;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  text-align: left;
}

thead {
  background-color: #504e4e;
  color: #ffffff;
}

th,
td {
  padding: 10px;
  text-align: left;
  font-weight: bold;

}

tr:nth-child(even) {
  background-color: #f2f2f2;
}



.delete-col {
  display: flex;
  align-items: center;
}

.delete-button, .edit-button {
  border: none;
  background-color: transparent;
  font-size: 23px;
  color: #504e4e;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.delete-button:hover{
  color: #e74c3c;
  animation: shake 0.2s;

}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  10%, 90% {
    transform: translate(-2px, 0);
  }
  20%, 80% {
    transform: translate(2px, 0);
  }
  30%, 50%, 70% {
    transform: translate(-4px, 0);
  }
  40%, 60% {
    transform: translate(4px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}


.edit-button:hover {
  color: rgb(0, 0, 0);
}


.delete-col button {
  margin: 7px;
}


.edit-button {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.edit-button .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #504e4e;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.edit-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}



.role-text {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  font-weight: bold;
}


.role {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  font-weight: bold;
}

.admin-row {
  background-color: #fdefef;
}

.super-admin-icon {
  color: #e74c3c;
}

.icon img {
  max-width: 13%;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}



.action {
  border-radius: 5px;
  padding: 3px 15px;
  border: 1px solid rgb(190, 190, 190);
  color: #4b4b4b;
  background-color: transparent;
  font-size: 17px;
  margin-right: 6px;
  margin-top: 10px;
  margin-bottom: auto;

}

.action:hover {
  border-color: rgb(0, 0, 0);
  color: #000000;
}

.closebtn {
  border-radius: 5px;
  padding: 6px 17px;
  border: 1px solid rgb(190, 190, 190);
  color: #4b4b4b;
  background-color: transparent;
  font-size: 17px;
  margin-right: 6px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.closebtn:hover {
  border-color: rgb(0, 0, 0);
  color: #000000;
}
