.btn {
  width: 40%;
  margin: 8px;
  color: white;
  font-weight: bold;
  
}

.btn:hover {
  color: black;
  font-weight: bold;}


.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #202020;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e0e0e0;
}


.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group .input-group-text {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #000000;
  text-align: center;
  white-space: nowrap;
  background-color: #faf8f8;
}



.toggle-password {
  cursor: pointer;
}

.icon img {
  max-width: 19%;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}



.update-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-image-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-image-container label {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.update-image-container input[type="file"] {
  display: none;
}



.notmatch{
  color: rgb(250, 71, 71);
}
