/* Set default font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}



.page-header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.page-header h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
}

/* Apply styles to the container div */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Apply styles to the content div */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .icon {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
}

.content .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .icon label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  background-color: rgba(0,0,0,0.7);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.content .icon:hover label {
  opacity: 1;
}

.content .icon input[type="file"] {
  display: none;
}


.content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.content .input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.content .input-group label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.content .input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  font-size: 1rem;
}

.content .input-group input:focus {
  outline: none;
  box-shadow: 0 0 5px #00000033;
}

.content .btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.content .btn:hover {
  background-color: #333;
}

.notmatch{
  color: rgb(255, 23, 23);
}

.page-header .delete-image-button {
  position: absolute;
  top: 0;
  right:-157px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  color: rgb(56, 56, 56);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 15px;
  background-color: #ececec;

}

.page-header .delete-image-button:hover {
  background-color: #d32f2f;
  color: rgb(255, 255, 255);

}


.page-header .delete-image-button i {
  font-size: 19px;
}


.alert {
  margin-top: 7px;
  display: flex;
  align-items: center;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.alert .icon {
  margin-right: 15px;
}

.alert .text {
  font-weight: bold;
  font-size: 18px;
}






