
<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      

        <div class="row">
          
          <div class="col-lg-16">
            <section class="page-header" *ngIf="userData.image !== 'user.jpg'">
              <button class="delete-image-button" >
                <i class="fa fa-trash"  (click)="supprimerImage(user)"></i>
              </button>           
             </section>
          </div>
        </div>
        <div class="content text-center" *ngIf="userData">
          <span class="icon">
            <img [src]="userImage" alt="User Image">
            <label for="image-input" class="file-input-label">
              <i class="fas fa-image x2" style="font-size: 24px; padding-right: 0.5rem;"></i>Modifier la photo<br>
            </label>
            <div class="update-image-container">

              <form enctype="multipart/form-data">
                <div class="file-input-wrapper">
                  <input type="file" id="image-input" name="image" (change)="onFileSelected($event)">
                </div>
              </form> 

            
                            
            </div> 
          </span>
        </div>
      </div> 
    </div>   
  <div class="row justify-content-center">
    <div class="col-lg-8">
          <nav aria-label="breadcrumb" >
          <ol class="breadcrumb bg-transparent justify-content-center">
            
            <li class="breadcrumb-item"><a routerLink="/">profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              modifier profile
            </li>
          </ol>
        </nav>
      </div>
    </div>
</section>



<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-sm-12 col-lg-3">
      

        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="/profile">Mon profile</a>
        </div>

        <div class="nav flex-column nav-pills">
          <a class="nav-link active">Modifier profile</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="/docs">Mes documents</a>
        </div>

       
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="/contact">contact</a>
        </div>
       
        <div class="nav flex-column nav-pills">
          <a href="/login" class="nav-link"(click)="onLogout()">Se deconnecter</a>
        </div>
      </div>

    
      <div class="col-12 col-md-7 col-sm-12 col-lg-9">
        <div class="tab-pane fade show active" id="settings" role="tabpanel">
          <div class="acccount-settings" >
            
            <h4 class="mb-4">Ces informations apparaissent en partie sur votre profil.

            </h4>

            <form action="#">

              <div class="form-group mb-4">
                <label>Email</label>
                <input
                [readonly]="true"
                  type="text"
                  class="form-control"
                  value={{curentUser.email}}
                  name="email"
                  [(ngModel)]="curentUser.email"


                />
              </div>

              <div class="form-group mb-4"  >
                <label>nom d'utilisateur</label>
                <input
                  type="text"
                  autocomplete="off"
                  class="form-control"
                  name="username"
                  value={{this.username}}
                  [(ngModel)]="username"

                /> 
              </div>

              <div class="form-group mb-4" [ngClass]="{'text-danger': this.errorMessage}">
                <label>Mobile</label>
                <input
                [ngClass]="{'text-danger': this.errorMessage}"
                autocomplete="off"
                  type="text"
                  class="form-control"
                  name="mobile"
                  value={{this.mobile}}
                  [(ngModel)]="this.mobile"
                />
              </div>
            </form> 

          

            <form action="#" class="mt-5">
              <h4>Changement de mot de passe</h4>


              <div class="form-group" [ngClass]="{'text-danger': this.errorMessagepw}">
                <label for="password">Mot de passe actuelle</label>
                <div class="input-group">
                  <input type="{{ hidePassword1 ? 'password' : 'text' }}" 
                  [ngClass]="{'text-danger': this.errorMessagepw}"
                  autocomplete="off"
                         class="form-control" 
                        name="password"

                              [(ngModel)]="this.PasswordActuelle" >
                  <div class="input-group-append">
                    <span class="input-group-text toggle-password" (click)="togglePassword1()">
                      <i class="fa fa-fw fa-eye"></i>
                    </span>
                  </div>
                </div>
              </div>  



              <div class="form-group">
                <label for="password">Nouveaux mot de passe </label>
                <div class="input-group">
                  <input type="{{ hidePassword1 ? 'password' : 'text' }}" 
                  autocomplete="off"
                         class="form-control" 
                        name="password"

                              [(ngModel)]="this.password" >
                  <div class="input-group-append">
                    <span class="input-group-text toggle-password" (click)="togglePassword1()">
                      <i class="fa fa-fw fa-eye"></i>
                    </span>
                  </div>
                </div>
              </div>  


            
              <div class="form-group" [ngClass]="{'text-danger': this.not}" >  
                <label for="confirmPassword">Confirmer le nouveau mot de passe </label>
                <div class="input-group"  >
                  <input type="{{ hidePassword2 ? 'password' : 'text' }}" 
                  [ngClass]="{'text-danger': this.not}"
                    autocomplete="off"
                    class="form-control" 
                    name="confirmPassword"
                    [(ngModel)]="confirmPassword">
                  <div class="input-group-append">
                    <span class="input-group-text toggle-password" (click)="togglePassword2()">
                      <i class="fa fa-fw fa-eye"></i>
                    </span>
                  </div>
                </div>
              </div>
            

              <div class="alert alert-success alert-dismissible fade show" *ngIf="updateSuccess" [class.show]="updateSuccess" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                Vos informations ont été mises à jour avec succès !  </div>
               
                 
                <div *ngIf="errorMessage" >
                  <span class="notmatch">{{ errorMessage }}</span>
                </div>

                <div *ngIf="errorMessagepw" >
                  <span class="notmatch">{{ errorMessagepw }}</span>
                </div>


                <div *ngIf="not">
                  <span class="notmatch">Veuillez verifier votre nouveaux Mot de passe.</span>
                </div>  
                <button type="submit" class="btn btn-success" (click)="updateUserData()">Sauvegarder les changements</button><br />
             </form>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
