<div id="template-mo-jassa-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row p-5">
            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
              <img class="img-fluid" src="../../../assets/images/image1.jpg" alt="Image d'illustration">
            </div>
            <div class="col-lg-6 mb-1 d-flex align-items-center">
              <div class="text-align-left align-self-center">
                <h2 class="h1" style="font-weight:bold; color:#3b3b3b;">Une solution simple pour gérer vos documents</h2>
                <h5 class="pg1">
                    <span style="font-weight:bold; color:#db523d;">DocuWise</span> permet aux entreprises de gérer, collaborer facilement sur des documents. Automatisez vos flux de travail documentaires et restez organisé(e) en toute circonstance, même pendant votre croissance !
                  </h5>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <section class="container py-5">
    <div class="row text-center pt-3">
      <div class="col-lg-11 m-auto">
        <h1 class="h2" style="font-weight:bold; color:#3b3b3b;">Système complet de gestion de documents : contient tout ce dont vous aurez jamais besoin.</h1>
        <p style=" font-size: 19px">Un système de gestion de documents complet qui vous permet de capturer, centraliser, gérer et sécuriser tous vos documents papier, fichiers électroniques et courriels. Accédez à vos données en dehors de votre bureau en utilisant n'importe quel navigateur Web.</p>
        <div class="parent mx-auto col-md-5 col-lg-6 order-lg-last">
            <img class="img1" src="../../../assets/images/photo-ged.jpg" alt="">
          </div>
          
      </div>
    </div>
  </section>
  