/* Hero Carousel */
#template-mo-jassa-hero-carousel {
  background-color: #fcfcfc;
  height: 60vh;
}

#template-mo-jassa-hero-carousel .carousel-inner {
  height: 100vh;
}

#template-mo-jassa-hero-carousel .carousel-item {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#template-mo-jassa-hero-carousel h1.h1 {
  margin-top: 10%;
  font-size: 4vw;
  font-weight: bold;
}

#template-mo-jassa-hero-carousel h5.pg1 {
  font-size: 2vw;
  margin-top: 3%;
  font-weight: 280;
  color: #979797;
}

/* Complete System Section */
.container.py-5 {
  background-color: #FFFFFF;
  padding-top: 5%;
  padding-bottom: 5%;
}

.container.py-5 h1.h2 {
  font-size: 3vw;
  font-weight: bold;
  color: #000000;
}

.container.py-5 p {
  font-size: 1.2vw;
  font-weight: 300;
  color: #7C7C7C;
}

.container.py-5 img.img-fluid {
  max-width: 100%;
  height: auto;
  margin-top: 5%;
  object-fit: cover;
}

.img1 {
  display: flex;
  align-items: center;
  width: 100%;
}

html, body {
  height: auto;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
