
.search-form {
    display: flex;
    align-items: center;
    border: 5px;
  }
  
  .search-form input[type="text"] {
    width: 130%;
    max-width: 205%;
    height: 50px;
    font-size: 16px;
    padding: 7px;
    margin-right: 0px;
    border: none;
    background-color: #f7f6f2;
    margin-right: 10px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  .search-form input[type="text"]:focus {
    outline: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 1px #8f8f8f;
  }
  
 
  
  
  @media screen and (max-width: 768px) {
    .search-form {
      flex-direction: column;
      align-items: stretch;
    }
  
    .search-form input[type="text"] {
      margin-right: 0;
      margin-bottom: 10px;
      width: 130%;
      max-width: none;
    }
  }
  


  
  .foodbox {
    background-color: #fffffc;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    display: inline-block;

  }
  
  .foodbox {
    background-color: #fffffc;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    display: inline-block;

  }
  
  .foodbox:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-color: black;
  }
  
  .foodbox img {
    max-width: 47%;
    height: auto;
    object-fit: cover;
    margin-bottom: 5px;
  }
  
  .foodbox p {
    font-size: 15px;
    color: #333;
   
  }
  
  .foodbox a {
    font-size: 17px;
    color: #3d3d3d;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.3s ease-in-out;
  }
  
  .foodbox a:hover {
    color: rgb(0, 0, 0);
    font-size: 17.2px;
  }

  .fa-times {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
  }
  
  .fa-undo-alt {
    position: absolute;
    top: 35px;
    right: 9px;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
  }
  

  .fa-times:hover {
    
    color: rgb(255, 12, 12);
    font-size: 20px;
    transition: all 0.2s ease-in-out;   }


  
  .fa-undo-alt:hover {
    color: green;
    font-size: 17px;
    transition: all 0.2s ease-in-out; 
  
  }