
.search-form {
    display: flex;
    align-items: center;
    border: 5px;
  }
  
  .search-form input[type="text"] {
    width: 130%;
    max-width: 205%;
    height: 50px;
    font-size: 16px;
    padding: 7px;
    margin-right: 0px;
    border: none;
    background-color: #f7f6f2;
    margin-right: 10px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  .search-form input[type="text"]:focus {
    outline: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 1px #8f8f8f;
  }
  
 
  
  
  @media screen and (max-width: 768px) {
    .search-form {
      flex-direction: column;
      align-items: stretch;
    }
  
    .search-form input[type="text"] {
      margin-right: 0;
      margin-bottom: 10px;
      width: 130%;
      max-width: none;
    }
  }
  


  
  .foodbox {
    background-color: #fffffc;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    display: inline-block;

  }
  
  .foodbox {
    background-color: #fffffc;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    display: inline-block;

  }
  
  .foodbox:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-color: black;
  }
  
  .foodbox img {
    max-width: 38%;
    height: auto;
    object-fit: cover;
    margin-bottom: 5px;
  }
  
  .foodbox p {
    font-size: 15px;
    color: #333;
   
  }
  
  .foodbox a {
    font-size: 17px;
    color: #3d3d3d;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.3s ease-in-out;
  }
  
  .foodbox a:hover {
    color: rgb(0, 0, 0);
    font-size: 17.2px;
  }



  
  .alert {
    display: flex;
    align-items: center;
    background-color: #fef2d2;
    color: #c27803;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  .alert-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #f8d7da;
    color: #721c24;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
  }
  
  .alert-text {
    flex: 1;
  }
  

  
  
  #dropdown2 {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
  
  }
  
  #dropdown2-content i {
    display: block;
    padding: 5px;
    margin-bottom: 4px;
    font-size: 19px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: 1px solid #000000;
  }
  
  
  




  #dropdown2-content i.fa-trash:hover {
    color: red;
    cursor: pointer;

  }
  
  #dropdown2-content i.fa-pen:hover {
    color: rgb(104, 104, 104);
    cursor: pointer;

  }

  #dropdown2-content i.fa-link:hover {
    color: rgb(104, 105, 105);
    cursor: pointer;

  }
  
  
  
  #dropdown2-item:hover {
    background-color: #e7e7e7;
    color: #000000;
  }
  
  #dropdown2-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  #dropdown2-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  #dropdown2:hover #dropdown2-content {
    display: block;
  }


  
  .tooltip2 {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip-text {
    visibility: hidden;
    background-color: #504e4e;
    color: #fff;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px; /* Adjust the font size as needed */
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .tooltip2:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  