<section class="page-header">
    <div class="overly"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="content text-center">
            <span class="icon">
              <i class='fa fa-trash' style='font-size:90px'></i>
              <h1 class="mb-3">Archive</h1><br>
            </span>
  
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-transparent justify-content-center">
                <li class="breadcrumb-item"><a routerLink="/docs">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Archive
                </li>
              </ol>
            </nav>
           
          </div>    
        </div>    
      </div>  
    </div>
    
  </section>
  
  <section class="user-dashboard page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 col-sm-12 col-lg-3">
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/profile">Mon profile</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link " routerLink="/docs">Mes documents</a>
          </div>
  
          <div class="nav flex-column nav-pills">
            <a class="nav-link active " routerLink="/archive">Archive</a>
          </div>
  
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </div>
          
          <div class="nav flex-column nav-pills">
            <a href="/login" class="nav-link"(click)="onLogout()">Se deconnecter</a>
          </div>  
  
         
        </div>
        
        
  
  
        <div class="col-12 col-md-7 col-sm-12 col-lg-9">
          <div class="search-form" >
            <input #searchTerm (keyup)="onKeyUp(searchTerm.value)"  type="text" placeholder=" Recherche...">
            
          
          
          </div>
          

         
          <div class="alert alert-warning fade show" *ngIf="err" role="alert">
            <span class="alert-icon">!</span>
            <span class="alert-text">Le nom du <strong>fichier</strong> que vous avez sélectionné existe déjà dans la liste des documents. Veuillez le renommer avant de le restaurer.</span>
          </div>
          
          
          <div class="alert alert-warning fade show" *ngIf="err2" role="alert">
            <span class="alert-icon">!</span>
            <span class="alert-text">Le nom du dossier que vous avez sélectionné existe déjà dans la liste des documents. Veuillez le renommer avant de le restaurer.</span>
          </div>
          
        
         
  
          <div class="container" >
            <div class="row">
              <div class="col-lg-4" *ngFor="let file of files" >
                
                <div class="foodbox mt-4 mb-4" >
                  <a href="{{ file.url }}" target="_blank">
                  <img src="../../../assets/images/pdf.jpg" *ngIf="file.name.includes('.pdf')" >
                  <img src="../../../assets/images/png.jpg" *ngIf="file.name.includes('.png') || file.name.includes('.gif') || file.name.includes('.avif')" >
                  <img src="../../../assets/images/docx.jpg" *ngIf="file.name.includes('.docx')" >
                  <img src="../../../assets/images/txt.jpg" *ngIf="file.name.includes('.txt')" >
                  <img src="../../../assets/images/jpg.jpg" *ngIf="file.name.includes('.jpg')" >
                  <img src="../../../assets/images/pptx.jpg" *ngIf="file.name.includes('.pptx')" >
                  <img src="../../../assets/images/csv.jpg" *ngIf="file.name.includes('.csv')" >
                  <img src="../../../assets/images/xlsx.jpg" *ngIf="file.name.includes('.xlsx')" >
                  <img src="../../../assets/images/xls.jpg" *ngIf="file.name.includes('.xls')" >
  
  
    
                  </a>
  
                  <p>{{file.date}}</p>
                  <a href="{{ file.url }}" target="_blank">{{ file.name }}</a>




                  <div class="dropdown" id="dropdown2">
                    <button class="dropdown-button" id="dropdown2-button">
                      <i class="fa fa-bars dropdown-icon"></i>
                    </button>
                    <div class="dropdown-content" id="dropdown2-content">
                      <div class="tooltip2">
                        <i class="fa fa-times" (click)="onDelete(file, $event)"></i>
                        <span class="tooltip-text">Supprimer</span>
                      </div>
                  
                      <div class="tooltip2">
                        <i class="fas fa-undo-alt" (click)="onRestaure(file)"></i>
                        <span class="tooltip-text">Restaurer</span>
                      </div>
                  
                      <div class="tooltip2">
                        <i class="fas fa-pen" (click)="showRenameDialog(file.id)"></i>
                        <span class="tooltip-text">Renommer</span>
                      </div>
                  
                      
                    </div>
                  </div>

                </div>
  
              </div>
              
              
      
        </div>
      </div>

      




      <div class="container"  >
        <div class="row">
          <div class="col-lg-4" *ngFor="let folder of folders"  (click)="onFolderSelected(folder)">
            
            <div class="foodbox mt-4 mb-4" >
              <img src="../../../assets/images/folder.jpg">
              <p>{{folder.date}}</p>
             <h5>{{folder.namefolder}}</h5>

              

              <div class="dropdown" id="dropdown2">
                <button class="dropdown-button" id="dropdown2-button">
                  <i class="fa fa-bars dropdown-icon"></i>
                </button>
                <div class="dropdown-content" id="dropdown2-content">
                  <div class="tooltip2">
                    <i class="fa fa-times" (click)="onDeletefolder(folder, $event)"></i>
                    <span class="tooltip-text">Supprimer</span>
                  </div>
              
              

                  <div class="tooltip2">
                    <i class="fas fa-undo-alt" (click)="onRestauredossier($event, folder)"></i>
                    <span class="tooltip-text">Restaurer</span>
                  </div>


                  <div class="tooltip2">
                    <i class="fas fa-pen tooltip2" (click)="renameFolder(folder.id, $event)"></i>    
                    <span class="tooltip-text">Renommer</span>
                  </div>
                 
              
                  
                </div>
              </div>





            </div>
  
          </div>
  
         </div>
    </div>
     
      </div>
      </div>
    </div>
  </section>
  