<div class="account section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="login-form border p-5">

          <div class="alert alert-danger alert-dismissible fade show" *ngIf="vide">
            <i class="fas fa-exclamation-triangle"></i>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            Veuillez remplir tous les champs obligatoires.
          </div>
          
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="errorEmail">
            <i class="fas fa-exclamation-circle"></i>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ errorEmail }}
          </div>
          
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="errorMobile">
            <i class="fas fa-exclamation-circle"></i>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ errorMobile }}
          </div>
          
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="errorMessage">
            <i class="fas fa-exclamation-circle"></i>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ errorMessage }}
          </div>
          
          <div class="alert alert-success alert-dismissible fade show" *ngIf="added">
            <i class="fas fa-check-circle"></i>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            Vous vous êtes inscrit(e) avec succès.
          </div>
          

          <div class="text-center heading">
            <h1 class="mb-2">Inscription</h1>
            <p class="lead">
              Vous avez déjà un compte? <a routerLink="/login"> Se connecter</a>
            </p>
          </div>

          

          <div class="tab-pane fade show active" id="settings" role="tabpanel">
            <div class="acccount-settings">
              

              <div class="field">
                <span class="fa fa-envelope"> </span>
                <input
                [ngClass]="{'text-danger': this.errorEmail}"
                autocomplete="off"
                  type="text"
                  placeholder="Email"
                  name="email" 
                  [(ngModel)]="newUser.email"
                  required=""
                  >
                        
              </div>
             

              <div class="field">
                
                <span class="fa fa-user"> </span>
                <input
                autocomplete="off"
                  type="text"
                  placeholder="Username"
                  name="username" 
                  [(ngModel)]="newUser.username"
                   required="" >
                 
              </div>

              <div class="field">
          
                <span class="fa fa-phone"> </span>
                <input
                autocomplete="off"
                  type="text"
                  placeholder="Telephone"
                  name="mobile" 
                  [(ngModel)]="newUser.mobile"
                  required="" >
                 
                 
              </div>


              <div class="form-group">
                <div class="input-group">
              <div class="field">
                <span class="fa fa-lock"> </span>
                  
              <input type="{{ hidePassword1 ? 'password' : 'text' }}" 
              autocomplete="off"
              class="form-control" id="password"
               placeholder="Mot de passe" 
               name="password"
               [(ngModel)]="newUser.password" 
               required="" >
               <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-fw fa-eye toggle-password" (click)="togglePassword1()"></i>
                </span>
              </div>
              
              </div>
            </div>
            <div class="input-group">
              <div class="field" [ngClass]="{'text-danger': this.not}">
                <span class="fa fa-lock"> </span>
                  
              <input type="{{ hidePassword2 ? 'password' : 'text' }}" 
              [ngClass]="{'text-danger': this.not}"
              autocomplete="off"
              class="form-control" id="password"
               placeholder="comfirmation de Mot de passe" 
               name="password"
               [(ngModel)]="confirmPassword" 
               required="" >
               <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-fw fa-eye toggle-password" (click)="togglePassword2()"></i>
                </span>
              </div>
              
              </div>
            </div>
            <div *ngIf="not">
              <span class="notmatch">Veuillez verifier votre Mot de passe.</span>
            </div>
              <span class="small text-muted">Le mot de passe doit comporter au minimum 8 caractères</span>
             

            </div>

             

              



              <div class="action">
                <button type="submit" class="btn btn-submit"  (click)="userCreate()" >Confirmer</button>
                   
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
