.acccount-settings {
  max-width: 800px;
  margin: auto;
}

.table-data {
  background-color: #ffffff;
  width: 110%;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 12px;
  margin-top: 20px;
}

.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.table-data table {
  width: 100%;
  border-collapse: collapse;
}

.table-data th,
.table-data td {
  padding: 08px 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  
}

.table-data th {
  background-color: #504e4e;
  color: #ffffff;

}

.table-data td.delete-col,
.table-data td.edit-col {
  white-space: nowrap;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.delete-button:hover,
.edit-button:hover {
  color: #eb2639;
}


.close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}


.delete-button {
  color: #333;
  transition: all 0.4s ease-in-out;
}

.delete-button:hover {
  color: #e74c3c;
  transform: scale(1.4);
}
