.acccount-settings {
  max-width: 800px;
  margin: auto;
}

.table-data {
  background-color: #ffffff;
  width: 110%;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 12px;
  margin-top: 20px;
}

.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.table-data table {
  width: 100%;
  border-collapse: collapse;
}

.table-data th,
.table-data td {
  padding: 8px 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  
}

.table-data th {
  background-color: #504e4e;
  color: #ffffff;

}

.table-data td.delete-col,
.table-data td.edit-col {
  white-space: nowrap;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.delete-button:hover,
.edit-button:hover {
  color: #eb2639;
}


.close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}


.delete-button {
  color: #333;
  transition: all 0.4s ease-in-out;
  font-size: 1.1rem;

}

.delete-button:hover {
  color: #da2020;
  transform: scale(1.2);
}


.status-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.far.fa-check-circle,
.fas.fa-check-circle {
  color: green;
  margin-right: 8px;
}

.status-message {
  color: green;
  font-weight: bold;
  margin-right: 5px;
}


.success-message{
  color: green;
}



.action {
  border-radius: 5px;
  padding: 3px 15px;
  border: 1px solid rgb(190, 190, 190);
  color: #4b4b4b;
  background-color: transparent;
  font-size: 17px;
  margin-right: 6px;
  margin-top: 10px;
  margin-bottom: auto;

}

.action:hover {
  border-color: rgb(0, 0, 0);
  color: #000000;
}



.status-message {
  margin-right: -8px;
}

.status-button {
  border: none;
  background: transparent;
  font-size: 1.1rem;
  cursor: pointer;
}