.field {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

.field input {
  width: 100%;
  height: 50px;
  font-size: 1.1rem;
  padding: 10px;
  background-color: white;
  border: solid 0.5px #e6e2e2;
  transition: border-color 0.2s ease-in-out;
}

.field input:focus,
.field input:active,
.field input:hover {
  border-color: #fb5c42;
}

.field span {
  color: gray;
  width: 50px;
  line-height: 45px;
  text-align: center;
}

.field input::placeholder {
  color: gray;
}

input:focus,
input:active input:hover {
  outline: none;
}
.alert-danger {
  margin-top: 7px;
  display: flex;
  align-items: center;
  background-color: #dc3545;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}



.alert-dismissible {
  padding-right: 3rem;
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.close:hover {
  color: inherit;
}

.alert span[aria-hidden="true"] {
  font-size: 1.5rem;
}

.fade {
  opacity: 1;
  transition: opacity 0.15s linear;
}

.fade.show {
  opacity: 1;
}



.alert .icon {
  margin-right: 20px;
}

.alert .text {
  font-weight: bold;
  font-size: 16px;
}


.alert-success {
  margin-top: 7px;
  display: flex;
  align-items: center;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}