<div class="account section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="login-form border p-5">

          <div class="alert alert-success alert-dismissible fade show" *ngIf="resetSuccessful">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ successMessage }}
          </div>

          
          <div class="alert alert-warning alert-dismissible fade show" *ngIf="notSuccessful">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ errorMessage }}
          </div>
          <div class="text-center heading">
            <h3 class="mb-2 h2">Mot de passe oublié ?</h3>
            <p class="lead">S'il vous plaît, veuillez entrer l'adresse e-mail
               associée à votre compte. Un nouveau mot de passe 
               sera envoyé à cette adresse. 
               Une fois que vous aurez reçu le code, vous pourrez choisir un nouveau mot de passe pour votre compte.
            </p>
          </div>

          
              <div class="field">
              <span class="fa fa-envelope"> </span>
              <input
              autocomplete="off"
                type="text"
                name="email"
                placeholder="Email"
                [(ngModel)]="email"
                >
                
            </div>
              <button  class="btn btn-main mt-3 btn-block" (click)="onSubmit()">Envoyer</button>
         
        </div>
      </div>
    </div>
  </div>
</div>
