.field {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

.field input {
  width: 100%;
  height: 50px;
  font-size: 1.1rem;
  padding: 10px;
  background-color: white;
  border: solid 0.5px #e6e2e2;
  transition: border-color 0.2s ease-in-out;
}

.field input:focus,
.field input:active,
.field input:hover {
  border-color: #fb5c42;
}

.field span {
  color: gray;
  width: 50px;
  line-height: 45px;
  text-align: center;
}

.field input::placeholder {
  color: gray;
}

input:focus,
input:active input:hover {
  outline: none;
}
